{% extends 'structure.html' %}
{% block structure_title%} Inicio de session {% endblock %}
{% block structure_body%}
{% load static %}

<br>
<div class="container">

<section id="about" class="about-area">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<div class="section-title mb-60">
<div class="map-contact-area" id="contact">
<div class="container">
        <div class="row">
                <div class="col-md-7 col-sm-6">
                
                <div class="contact-form">
                    
                    <!-- Submition status -->
                    <div id="form-messages"></div>
                    
                    <form method="POST"> {% csrf_token %}
                        <h2>Inicia<span> session</span></h2>
                
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="form-group in_name">
                                    <input type="text" name="username" class="form-control" id="name" placeholder="Usuario" required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group in_email">
                                    <input type="password" name="password" class="form-control" id="email" placeholder="Contraseña" required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="actions">
                                    <input type="submit" value="Iniciar" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                </div>
                </div>
                
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}