{% extends 'structure.html' %}
{% block structure_title%} BIENVENIDO: {{ user.first_name }} {% endblock %}
{% block structure_body%}
{% load static %}
<!-- Navigation area starts -->
<div class="menu-area navbar-fixed-top">
<div class="container">
	<div class="row">

		<!-- Navigation starts -->
		<div class="col-md-12">
			<div class="mainmenu">
				<div class="navbar navbar-nobg">
					<div class="navbar-header">
						<a class="navbar-brand" href="/manager"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="navbar-collapse collapse">
						<nav>
							<ul class="nav navbar-nav navbar-right">
								{% if user.is_staff %} <li ><a href="#slider">Agenda</a></li> {% endif %}
								<li class=""><a href="/patient">Pacientes</a></li>
								<li class=""><a  href="/procedures">Procedimientos</a></li>
                                {% if user.is_superuser %}<li class=""><a href="/recipe">Recetas</a></li>{% endif %}
                                {% if user.is_superuser %}<li class=""><a href="/consultation">Consulta</a></li>{% endif %}
								<a class="a_button" href="/logout">SALIR: {{ user.first_name }}</a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation ends -->

	</div>
</div>
</div>
<!-- Navigation area ends -->
<div class="clearfix header-space"></div>
{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="container"><br>
				<div class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡OK!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="container"><br>
				<div class="alert alert-info  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Informacion!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="container"><br>
				<div class="alert alert-warning  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Alerta!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="container"><br>
				<div class="alert alert-danger  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Error!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
		
		{% endfor %}
		{% endif %}
		
<div class="container">		
    <div class="row">
        Aqui van los modulos principales
    </div>
</div>


{% endblock %}