{% extends 'structure.html' %}
{% block structure_title%} BIENVENIDO: {{ user.first_name }} {% endblock %}
{% block structure_body%}
{% load static %}
<!-- Navigation area starts -->
<div class="menu-area navbar-fixed-top">
<div class="container">
	<div class="row">

		<!-- Navigation starts -->
		<div class="col-md-12">
			<div class="mainmenu">
				<div class="navbar navbar-nobg">
					<div class="navbar-header">
						<a class="navbar-brand" href="/manager"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="navbar-collapse collapse">
						<nav>
							<ul class="nav navbar-nav navbar-right">
								{% if user.is_staff %} <li class=""><a href="/diary">Agenda</a></li> {% endif %}
								<li class=""><a href="/patient">Pacientes</a></li>
								<li class="active"><a  href="/procedures">Procedimientos</a></li>
                                {% if user.is_superuser %}<li class=""><a href="/recipe">Recetas</a></li>{% endif %}
                                {% if user.is_superuser %}<li class=""><a href="/consultation">Consulta</a></li>{% endif %}
								<a class="a_button" href="/logout">SALIR: {{ user.first_name }}</a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation ends -->

	</div>
</div>
</div>
<!-- Navigation area ends -->
<div class="clearfix header-space"></div>
{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="container"><br>
				<div class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡OK!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="container"><br>
				<div class="alert alert-info  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Informacion!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="container"><br>
				<div class="alert alert-warning  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Alerta!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
	
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="container"><br>
				<div class="alert alert-danger  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Error!</strong> {{ message }}
				</div>
			</div>	
			{% endif %}
		
		{% endfor %}
		{% endif %}

<!-- List Patients -->
<section id="about" class="about-area section-sm">
	<div class="container">
		<div class="row">
			<br>
			<div class="col-md-12 text-center">
				<div class="section-title mb-60">
					<h2>Listado <span>Procedimientos</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			
			<form action="/procedures">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar paciente" name="search" id="search">
				<span class="input-group-btn">
					<input type="submit" value="Buscar !" name="submit" id="submitButton" class="btn btn-info" title="Realizar busqueda">
				</span>
				</div>
			</div>
			</form>
		</div>

		<div class="row">
			<!-- Tabla clientes -->
			<table class="table">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Procedimiento</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Agregar siempre</th>
                    <th scope="col">Opciones</th>
				  </tr>
				</thead>
				<tbody>
					{% for item in ListProcedures %}
					<tr>
							<td>{{ item.nombre }}</td>
							<td>$ {{ item.costo }}</td>
                            <td>{% if item.agendar %}SI{%endif%}{% if item.agendar == 0 %}NO{%endif%}</td>
							<td><button type="button" class="btn btn-success " data-toggle="modal" data-target="#view{{item.id}}"><span class="fa fa-eye"></span> Visualizar</button> <a href="/procedures_edit/{{ item.id }}"><button type="button" class="btn btn-warning"><span class="fa fa-pencil"></span> Editar</button></a> {% if user.is_superuser %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{item.id}}"><span class="fa fa-trash"></span> Eliminar</button>{% endif %}</td>

							<!-- Modal Delete-->
							<div class="modal fade" id="delete{{item.id}}" role="dialog">
									<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">{{ item.nombre }} {{ item.a_paterno }} {{ item.a_materno }}</h4>
										</div>
										<div class="modal-body">
										<p>Esta seguro de eliminar el procedimiento ?.</p>
										</div>
										<div class="modal-footer">
											{% if user.is_superuser %}
											<form action="/procedures_delete" method="GET"> {% csrf_token %}
												<input type="hidden" name="id" value="{{ item.id }}">
												<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
												<input type="submit" value="SI" name="submit" id="submitButton" class="btn btn-danger" title="Enviar delete">
											</form>													
											{% endif %}
										</div>
									</div>
									</div>
								</div>
								</div>
							<!-- Finaliza Modal Delete-->
	
							<!-- Modal view -->
							<div class="modal fade" id="view{{item.id}}" role="dialog">
								<div class="modal-dialog">
								
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">{{ item.nombre }} {{ item.a_paterno }} {{ item.a_materno }}</h4>
									</div>
									<div class="modal-body">
                                        <p>Procedimiento: {{ item.nombre }}</p>
                                        <p>Costo: $ {{ item.costo }}</p>
                                        <p>Descripcion: {{ item.descripcion }}</p>
                                        <p>Agregar siempre a consulta: {% if item.agendar %}SI{%endif%}{% if item.agendar == 0 %}NO{%endif%}</p>
									</div>
									<div class="modal-footer">
									<a href="/procedures_edit/{{ item.id }}"><button type="button" class="btn btn-warning"><span class="fa fa-pencil"></span> Editar</button></a>
									<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
									</div>
								</div>
								
								</div>
								<!-- Finaliza contenido modal -->
							</div>
							
							</div>
							<!-- Finaliza Modal view-->

						</tr>
					{% endfor %}
				</tbody>
			  </table>
			<div align="center">
				<ul class="pagination">
					{%if ListProcedures.number > 1%}
						<li class="waves-effect"><a href="?page={{ ListProcedures.previous_page_number }}">&laquo;</a></li>
					{%endif%}
					{% for log in page_range %}
					{%if log == ListProcedures.number%}
							<li class="active"><a href="?page={{log}}">{{log}}</a></li>
						{%else%}  
							<li class="waves-effect"><a href="?page={{log}}">{{log}}</a></li>
						{%endif%}
						
					{%endfor%} 
					{%if ListProcedures.number < count %}
						<li class="waves-effect"><a href="?page={{ ListProcedures.next_page_number }}">&raquo;</a></li>
					{%endif%}
				</ul>
			</div>
			<!-- Finaliza tabla clientes -->
		</div>
	</div>
</section>
<!-- Finaliza List Patients -->

<!-- Agregar paciente -->
<section id="department" class="department-area  section-big">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title white mb-30">
					<h2>AGREGAR <span>Procedimiento</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<form method="POST"> {% csrf_token %}
				<div class="row">
					
					<div class="col-md-6">
						<div class="form-group in_name">
							<input type="text" name="nombre" class="form-control" id="name" placeholder="Nombre"required="required" oninvalid="this.setCustomValidity('Ingrese un nombre')" oninput="setCustomValidity('')">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group ">
							<input type="text" name="costo" class="form-control" id="costo" placeholder="Costo" required="required" oninvalid="this.setCustomValidity('Ingrese un costo. Puede ser cero')" oninput="setCustomValidity('')">
						</div>
                    </div>
                    <div class="col-md-12">
						<div class="form-group">
                            <textarea name="descripcion" id="descripcion" class="form-control" rows="6" placeholder="Texto aqui" required></textarea>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group ">
							<input type="checkbox" class="form-check-input" id="agendar" name="agendar">
                            <label class="form-check-label" for="exampleCheck1">Activar en todas las recetas</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="actions">
							<input type="submit" value="Agregar" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</section>
<!-- Service area ends -->

{% endblock %}