{% extends 'structure.html' %}
{% block structure_title%} BIENVENIDO: {{ user.first_name }} {% endblock %}
{% block structure_body%}
<!-- Navigation area starts -->
<div class="menu-area navbar-fixed-top">
<div class="container">
	<div class="row">

		<!-- Navigation starts -->
		<div class="col-md-12">
			<div class="mainmenu">
				<div class="navbar navbar-nobg">
					<div class="navbar-header">
						<a class="navbar-brand" href="/manager"><img src="/static/assets/img/logo.png" alt=""></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="navbar-collapse collapse">
						<nav>
							<ul class="nav navbar-nav navbar-right">

								{% if user.is_staff %} <li class=""><a href="/diary">Agenda</a></li> {% endif %}
								<li ><a href="/patient">Pacientes</a></li>
								<li class=""><a  href="/procedures">Procedimientos</a></li>
                {% if user.is_superuser %}<li class="active"><a href="/recipe">Recetas</a></li>{% endif %}
                {% if user.is_superuser %}<li ><a href="/consultation">Consulta</a></li>{% endif %}
								<a class="a_button" href="/logout">SALIR: {{ user.first_name }}</a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation ends -->

	</div>
</div>
</div>
<!-- Navigation area ends -->
<div class="clearfix header-space"></div>
{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="container"><br>
				<div class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡OK!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="container"><br>
				<div class="alert alert-info  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Informacion!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="container"><br>
				<div class="alert alert-warning  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Alerta!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="container"><br>
				<div class="alert alert-danger  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Error!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

		{% endfor %}
		{% endif %}
    <!--Contenido-->
            <!-- List Patients -->
<section id="about" class="about-area section-sm">
	<div class="container">
		<div class="row">
			<br>
			<div class="col-md-12 text-center">
				<div class="section-title mb-60">
					<h2>Recetas<span></span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<form action="/recipe">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar paciente" name="search" id="search">
				<span class="input-group-btn">
					<input type="submit" value="Buscar !" name="submit" id="submitButton" class="btn btn-info" title="Realizar busqueda">
				</span>
				</div>
			</div>
			</form>
		</div>

		<div class="row">
			<!-- Tabla clientes -->
			<table class="table">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">FOLIO	</th>
					<th scope="col">Paciente</th>
					<th scope="col">Fecha</th>
					<th scope="col">Medico</th>
					<th scope="col">Compartido</th>
					<th scope="col">Opciones</th>
				  </tr>
				</thead>
				<tbody>
					{% for item in recetas %}
					<tr>
							<td>{{item.id}}</td>
							<td>{{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</td>
							<td>{{ item.f_consulta }}</td>
							<td>{{ item.user.first_name }}</td>
							
							{% if item.share %}
							<td>SI</td>
							{% else %}
							<td>NO</td>
							{% endif %}

							<td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#" data-toggle="modal" data-target="#view{{item.id}}"><span class="fa fa-eye"></span> Detalles</a></li>
										<li><a target="_blank" href="/recipe_pdf/{{ item.id }}"><span class="fa fa-print"></span> Imprimir receta</a></li>
										<li><a target="_blank" href="/consulta_pdf/{{ item.id }}"><span class="fa fa-print"></span> Imprimir consulta</a></li>
										<li><a href="#" data-toggle="modal" data-target="#media{{item.id}}"><span class="fa fa-cubes"></span> Multimedia</a></li>
										
										{% if item.user.id == user.id %}
											<li><a href="#" data-toggle="modal" data-target="#sharesi{{item.id}}"><span class="fa fa-share"></span> Compartir</a></li>
											<li><a href="#" data-toggle="modal" data-target="#shareno{{item.id}}"><span class="fa fa-share"></span> No compartir</a></li>
										{% endif %}
										
										<li role="separator" class="divider"></li>
										{% if user.is_superuser %}
										<li><a href="#" data-toggle="modal" data-target="#delete{{item.id}}"><span class="fa fa-trash"></span> Eliminar</a></li>
										<li role="separator" class="divider"></li>
										{% endif %}
                                        <li><a href="#" data-toggle="modal" data-target="#cita{{item.id}}">Ver citas</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#historiclin{{item.id}}">Ver historia clinica</a></li>
																				<li><a href="/recipe_history/{{ item.patient.id }}">Ver todas las consultas</a></li>
                                    </ul>
                                    </div>
                                    </td>
					<!-- Modal view -->
					<div class="modal fade" id="historiclin{{item.id}}" role="dialog">
						<div class="modal-dialog modal-lg">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">ANTECEDENTES HEREDOFAMILIARES: {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-9">
										<div class="col-md-6">
											<p>No patologicos: <br>{{ item.patient.nopatologicos|slice:'0:52' }}...</p>
											<p>Patologicos: <br>{{ item.patient.patologicos|slice:'0:52' }}...</p>
											<p>Ginecologos: <br>{{ item.patient.ginecologos|slice:'0:52' }}...</p>
											<p>Andrologicos: <br>{{ item.patient.andrologicos|slice:'0:52' }}...</p>

										</div>
										<div class="col-md-6">
											<p>Perinatales: <br>{{ item.patient.perinatales|slice:'0:52' }}...</p>
											<p>Quirurgicos: <br>{{ item.patient.quirurgicos|slice:'0:52' }}...</p>
											<p>Alergias: <br>{{ item.patient.alergias|slice:'0:52' }}...</p>
											<p>Padecimiento actual: <br>{{ item.patient.observaciones|slice:'0:52' }}...</p>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
							<a href="/report_datos_paciente/{{ item.patient.id }}" target="_blank"><button type="button" class="btn btn-warning"><span class="fa fa-print"></span> Imprimir datos personales</button></a>
							<a href="/report_heredofamiliares/{{ item.patient.id }}" target="_blank" ><button type="button" class="btn btn-warning"><span class="fa fa-print"></span> Imprimir historia clinica</button></a>
							<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
							</div>
						</div>

						</div>
						<!-- Finaliza contenido modal -->
						</div>
						</div>
						<!-- Finaliza Modal view-->

						<!-- Modal delete -->
						<div class="modal fade" id="delete{{item.id}}" role="dialog">
							<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">ELIMINAR RECETA # {{ item.id }} | {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-9">
											<div class="col-md-12">
												<p style="color: red;">Esta seguro de eliminar la receta con numero {{item.id}} del paciente {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}, en el futuro sera imposible revertir el proceso.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<form class="" action="/delete_recipe" method="get">
									<button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="submit" class="btn btn-danger" value="ELIMINAR" name="submit" id="submitButton" title="Eliminar receta">
								</form>
								</div>
							</div>

							</div>
							<!-- Finaliza contenido modal -->
							</div>
							</div>
							<!-- Finaliza Modal delete-->
							
							<!-- Modal share no -->
							<div class="modal fade" id="shareno{{item.id}}" role="dialog">
								<div class="modal-dialog">
	
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">NO COMPARTIR RECETA # {{ item.id }} | {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-9">
												<div class="col-md-12">
													<p style="color: red;">Esta seguro de NO COMPARTIR la receta con numero {{item.id}} del paciente {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}. Ningun medicos podra ver esta receta a excepcion de el que la creo.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
									<form class="" action="/shareno_recipe" method="get">
										<button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
										<input type="hidden" name="id" value="{{ item.id }}">
										<input type="submit" class="btn btn-danger" value="NO COMPARTIR" name="submit" id="submitButton" title="Compartir receta">
									</form>
									</div>
								</div>
	
								</div>
								<!-- Finaliza contenido modal -->
								</div>
								</div>
								<!-- Finaliza Modal share no-->
								
								<!-- Modal share si -->
							<div class="modal fade" id="sharesi{{item.id}}" role="dialog">
							<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
								<butNO ton type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">COMPARTIR RECETA # {{ item.id }} | {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-9">
											<div class="col-md-12">
												<p style="color: red;">Esta seguro de COMPARTIR la receta con numero {{item.id}} del paciente {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}. Todos los medicos podran ver la receta.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<form class="" action="/shareyes_recipe" method="get">
									<button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="submit" class="btn btn-danger" value="COMPARTIR" name="submit" id="submitButton" title="Compartir receta">
								</form>
								</div>
							</div>

							</div>
							<!-- Finaliza contenido modal -->
							</div>
							</div>
							<!-- Finaliza Modal share si-->
							
							
							<!-- Modal delete -->
						<div class="modal fade" id="delete{{item.id}}" role="dialog">
							<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">ELIMINAR RECETA # {{ item.id }} | {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-9">
											<div class="col-md-12">
												<p style="color: red;">Esta seguro de eliminar la receta con numero {{item.id}} del paciente {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}, en el futuro sera imposible revertir el proceso.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<form class="" action="/delete_recipe" method="get">
									<button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="submit" class="btn btn-danger" value="ELIMINAR" name="submit" id="submitButton" title="Eliminar receta">
								</form>
								</div>
							</div>

							</div>
							<!-- Finaliza contenido modal -->
							</div>
							</div>
							<!-- Finaliza Modal delete-->

								<!-- Modal Cita -->
								<div class="modal fade" id="cita{{item.id}}" role="dialog">
									<div class="modal-dialog modal-sm">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">{{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
										</div>
										<div class="modal-body">
											<div class="row">
												<ul class="list-group">
														{% for a in agenda %}
															{% if a.patient.id == item.patient.id %}
																<li class="list-group-item">
																	<span class="badge">Receta: {{a.receta}}</span>
																	Hora: {{a.f_start}}
																</li>
															{% endif %}
														{% endfor %}
													</ul>
											</div>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
										</div>
									</div>

									</div>
									<!-- Finaliza contenido modal -->
							</div>
							</div>
							<!-- Finaliza Modal cita-->
							<!-- Modal view -->
							<div class="modal fade" id="view{{item.id}}" role="dialog">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="modal-dialog modal-lg">
									<button type="button" class="close" data-dismiss="modal">&times;</button>

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">PACIENTE: {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
									</div>
									<div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="col-md-6">
                                                            <p>Edad: {{ item.edad }} años</p>
                                                            <p>Temperatura: {{ item.temperatura }} grados</p>
                                                            <p>Peso: {{ item.peso }} KG,s</p>
																														<p>Cintura: {{ item.cintura }} CM,s</p>
                                                            <p>Estatura: {{ item.estatura }} CM,s</p>
                                                            <p>Presion arterial: {{ item.presion_arterial }}</p>
                                                            <p>Imc: {{ item.imc }}</p>
                                                            <p>Exploracion fisica: {{ item.exp_fisica|slice:'0:25' }}...</p>
																														<p>Torax: {{ item.torax|slice:'0:25' }}...</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <p>Abdomen: {{ item.abdomen|slice:'0:45' }}...</p>
                                                            <p>Genitales: {{ item.genitales|slice:'0:45' }}...</p>
                                                            <p>Piel: {{ item.piel|slice:'0:45' }}...</p>
                                                            <p>Diagnostico: {{ item.diagnostico|slice:'0:45' }}...</p>
                                                            <p>Pronostico: {{ item.pronostico|slice:'0:45' }}...</p>
                                                            <p>Terapeuticas: {{ item.terapeuticas|slice:'0:45' }}...</p>
                                                            <p>Fecha de consulta: {{ item.f_consulta }}</p>
                                                            <p>Medico: {{ item.user.first_name }}</p>
                                                    </div>
                                                </div>
											</div>
											<hr>
											<h4 class="modal-title">PROCEDIMIENTOS REALIZADOS</h4>
											<br><ul class="list-group">
													{% for a in procedures %}
														{% if item.id == a.receta.id %}
															<li class="list-group-item">
																<span class="badge">$ {{a.costo}}</span>
																{{a.procedure.nombre}}
															</li>
														{% endif %}
													{% endfor %}
													<br>
													<div class="text-right">
														<h3><span class="label label-success">Total: $ {{item.total}}</span></h3>
													</div>
											<h4 class="modal-title">ARCHIVOS MULTIMEDIA</h4><br>
											{% if item.file0 %}
											<div>
														<img src="/media/{{item.file0}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file1 %}
											<div>
														<img src="/media/{{item.file1}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file2 %}
											<div>
														<img src="/media/{{item.file2}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file3 %}
											<div>
														<img src="/media/{{item.file3}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file4 %}
											<div>
														<img src="/media/{{item.file4}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file5 %}
											<div>
														<img src="/media/{{item.file5}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file6 %}
											<div>
														<img src="/media/{{item.file6}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file7 %}
											<div>
														<img src="/media/{{item.file7}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file8 %}
											<div>
														<img src="/media/{{item.file8}}" alt="">
											</div>
											<hr>
											{% endif %}

											{% if item.file9 %}
											<div>
														<img src="/media/{{item.file9}}" alt="">
											</div>
											<hr>
											{% endif %}

									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
									</div>
								</div>

								</div>
								<!-- Finaliza contenido modal -->
							</div>

							</div>
							<!-- Finaliza Modal view-->

							<!-- Modal media -->
							<div class="modal fade" id="media{{item.id}}" role="dialog">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-dialog modal-lg">
									<button type="button" class="close" data-dismiss="modal">&times;</button>

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><span class="fa fa-cubes"></span>  PACIENTE: {{ item.patient.nombre }} {{ item.patient.a_paterno }} {{ item.patient.a_materno }}</h4>
									</div>
									<div class="modal-body">
										{% if item.file0 %}
										<div>
													<img src="/media/{{item.file0}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file1 %}
										<div>
													<img src="/media/{{item.file1}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file2 %}
										<div>
													<img src="/media/{{item.file2}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file3 %}
										<div>
													<img src="/media/{{item.file3}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file4 %}
										<div>
													<img src="/media/{{item.file4}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file5 %}
										<div>
													<img src="/media/{{item.file5}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file6 %}
										<div>
													<img src="/media/{{item.file6}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file7 %}
										<div>
													<img src="/media/{{item.file7}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file8 %}
										<div>
													<img src="/media/{{item.file8}}" alt="">
										</div>
										<hr>
										{% endif %}

										{% if item.file9 %}
										<div>
													<img src="/media/{{item.file9}}" alt="">
										</div>
										<hr>
										{% endif %}
									<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
									</div>
								</div>

								</div>
								<!-- Finaliza contenido modal -->
							</div>

							</div>
							<!-- Finaliza Modal media-->
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			<div align="center">
				<ul class="pagination">
					{%if recetas.number > 1%}
						<li class="waves-effect"><a href="?page={{ recetas.previous_page_number }}">&laquo;</a></li>
					{%endif%}
					{% for log in page_range %}
					{%if log == recetas.number%}
							<li class="active"><a href="?page={{log}}">{{log}}</a></li>
						{%else%}
							<li class="waves-effect"><a href="?page={{log}}">{{log}}</a></li>
						{%endif%}

					{%endfor%}
					{%if recetas.number < count %}
						<li class="waves-effect"><a href="?page={{ recetas.next_page_number }}">&raquo;</a></li>
					{%endif%}
				</ul>
			</div>
			<!-- Finaliza tabla clientes -->
		</div>
	</div>
</section>
<!-- Finaliza List Patients -->
<!--Finaliza Contenido-->
{% endblock %}
