{% extends 'structure.html' %}
{% block structure_title%} BIENVENIDO: {{ user.first_name }} {% endblock %}
{% block structure_body%}
<!-- Navigation area starts -->
<div class="menu-area navbar-fixed-top">
<div class="container">
	<div class="row">

		<!-- Navigation starts -->
		<div class="col-md-12">
			<div class="mainmenu">
				<div class="navbar navbar-nobg">
					<div class="navbar-header">
						<a class="navbar-brand" href="/manager"><img src="/static/assets/img/logo.png" alt=""></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="navbar-collapse collapse">
						<nav>
							<ul class="nav navbar-nav navbar-right">
								{% if user.is_staff %} <li class=""><a href="/diary">Agenda</a></li> {% endif %}
								<li class=""><a href="/patient">Pacientes</a></li>
								<li class=""><a  href="/procedures">Procedimientos</a></li>
                {% if user.is_superuser %}<li class=""><a href="/recipe">Recetas</a></li>{% endif %}
                {% if user.is_superuser %}<li class=""><a href="/consultation">Consulta</a></li>{% endif %}
								<a class="a_button" href="/logout">SALIR: {{ user.first_name }}</a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation ends -->

	</div>
</div>
</div>
<!-- Navigation area ends -->
<div class="clearfix header-space"></div>
{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="container"><br>
				<div class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡OK!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="container"><br>
				<div class="alert alert-info  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Informacion!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="container"><br>
				<div class="alert alert-warning  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Alerta!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="container"><br>
				<div class="alert alert-danger  fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Error!</strong> {{ message }}
				</div>
			</div>
			{% endif %}

		{% endfor %}
		{% endif %}

    <!-- List Patients -->
    <section id="about" class="about-area section-sm">
    	<div class="container">
    		<div class="row">
    			<br>
    			<div class="col-md-12 text-center">
    				<div class="section-title mb-60">
    					<h2>Listado <span>usuarios</span></h2>
    				</div>
    			</div>
    		</div>
    		<div class="row">

    			<form >{% csrf_token %}
    			<div class="col-lg-12">
    				<div class="input-group">
    					<input type="text" class="form-control" placeholder="Buscar usuario" name="search" id="search">
    					<span class="input-group-btn">
    					<input type="submit" value="Buscar !" name="submit" id="submitButton" class="btn btn-info" title="Realizar busqueda">
    				</span>
    				</div>
    			</div>
    			</form>
    		</div>

    		<div class="row">
    			<!-- Tabla clientes -->
    			<table class="table">
    				<thead class="thead-dark">
    				  <tr>
    					<th scope="col">Usuario</th>
                  <th scope="col">Ultimo inicio</th>
                  <th scope="col">Medico ?</th>
                  <th scope="col">Activo?</th>
                  <th scope="col">Opciones</th>
    				  </tr>
    				</thead>
    				<tbody>
    					{% for item in usuarios %}
    					<tr>
    							<td>{{ item.first_name }} {{ item.last_name }}</td>
    							<td>{{ item.last_login }}</td>
                  <td>{% if item.is_superuser %}SI{% else %}NO{%endif%}</td>
                  <td>{% if item.is_active %}SI{% else %}NO{%endif%}</td>
    							<td>
                    <div class="dropdown">
      									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      									  {{item.username}}
      									  <span class="caret"></span>
      									</button>
      									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      									  <li><a href="#" data-toggle="modal" data-target="#view{{item.id}}"><span class="fa fa-eye"></span> Visualizar</a></li>
      									  <li><a href="#" data-toggle="modal" data-target="#edit{{item.id}}"><span class="fa fa-pencil"></span> Editar</a></li>
      									  <li><a href="#" data-toggle="modal" data-target="#delete{{item.id}}"><span class="fa fa-trash"></span> Eliminar</a></li>
      									</ul>
      								  </div>
                  </td>

    							<!-- Modal Delete-->
    							<div class="modal fade" id="delete{{item.id}}" role="dialog">
    									<div class="modal-dialog modal-sm">
    									<div class="modal-content">
    										<div class="modal-header">
    										<button type="button" class="close" data-dismiss="modal">&times;</button>
    										<h4 class="modal-title">{{ item.first_name }} {{ item.last_name }}</h4>
    										</div>
    										<div class="modal-body">
    										<p>Esta seguro de eliminar el usuario ?. Todas las consultas y recetas de este usuario se perderan y no sera posible recuperarlo</p>
    										</div>
    										<div class="modal-footer">

    											<form action="/user_delete" method="GET"> {% csrf_token %}
    												<input type="hidden" name="id" value="{{ item.id }}">
    												<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
    												<input type="submit" value="SI" name="submit" id="submitButton" class="btn btn-danger" title="Enviar delete">
    											</form>

    										</div>
    									</div>
    									</div>
    								</div>
    								</div>
    							<!-- Finaliza Modal Delete-->

                  <!-- Modal edit-->
    							<div class="modal fade" id="edit{{item.id}}" role="dialog">
    									<div class="modal-dialog modal-lg">
    									<div class="modal-content">
    										<div class="modal-header">
    										<button type="button" class="close" data-dismiss="modal">&times;</button>
    										<h4 class="modal-title">{{ item.first_name }} {{ item.last_name }}</h4>
    										</div>
    										<div class="modal-body">
                          <form action="/user_update" method="GET"> {% csrf_token %}

                            <div class="col-md-12">
  														<div class="form-group ">
  															<input type="text" value="{{ item.first_name }}" name="user_first_name" id="user_first_name" class="form-control" placeholder="Nombre">
  														</div>
  													</div>

  													<div class="col-md-12">
  														<div class="form-group ">
  															<input type="text" value="{{ item.last_name }}" name="user_last_name" id="user_last_name" class="form-control" placeholder="Apellidos">
  														</div>
  													</div>

  													<div class="col-md-12">
  														<div class="form-group ">
  															<input type="text" value="{{ item.email }}" name="user_email" id="user_email" class="form-control" placeholder="Correo electronico">
  														</div>
  													</div>

  													<div class="col-md-12">
  														<div class="form-group ">
  																	<input type="checkbox" class="form-check-input" id="check_change_password{{item.id}}" name="check_change_password{{item.id}}" onchange="changepassword{{item.id}}()">
  								                  <label class="form-check-label" for="exampleCheck1" style="color: black;">Cambiar contraseña</label>

																		<input type="checkbox" class="form-check-input" id="check_change_medico{{item.id}}" name="check_change_medico{{item.id}}" onchange="changemedico{{item.id}}()" {% if item.is_superuser %} checked {% endif %}>
		  								              <label class="form-check-label" for="exampleCheck1" style="color: black;">Medico</label>

																		<input type="checkbox" class="form-check-input" id="check_change_asistente{{item.id}}" name="check_change_asistente{{item.id}}" onchange="changeasiste{{item.id}}() "{% if item.is_superuser == False %} checked {% endif %}>
		  								              <label class="form-check-label" for="exampleCheck1" style="color: black;">Asistente</label>

																		<input type="checkbox" class="form-check-input" id="check_change_active{{item.id}}" name="check_change_active{{item.id}}" {% if item.is_active %} checked {% endif %}>
		  								              <label class="form-check-label" for="exampleCheck1" style="color: black;">Activo</label>
  														</div>
  													</div>
  													<script>
															function changemedico{{item.id}} ()
															{
																	var x = document.getElementById("check_change_medico"+String({{item.id}})).checked
																	if (x)
  																{
  																	document.getElementById("check_change_asistente"+{{ item.id }}).checked = false
  																}else {
  																	document.getElementById("check_change_asistente"+{{ item.id }}).checked = true
  																}
															}

															function changeasiste{{item.id}} ()
															{
																	var x = document.getElementById("check_change_asistente"+String({{item.id}})).checked
																	if (x)
  																{
  																	document.getElementById("check_change_medico"+{{ item.id }}).checked = false
  																}else {
  																	document.getElementById("check_change_medico"+{{ item.id }}).checked = true
  																}
															}

															function changepassword{{item.id}}()
  														{
																	var x = document.getElementById("check_change_password"+String({{item.id}})).checked

  																if (x)
  																{
  																	document.getElementById("password"+{{ item.id }}).disabled = false
  																	document.getElementById("password_confirm"+{{ item.id }}).disabled = false
  																}else {
  																	document.getElementById("password"+{{ item.id }}).disabled = true
  																	document.getElementById("password_confirm"+{{ item.id }}).disabled = true
  																}
  														}
  													</script>
  													<div class="col-md-12">
  														<div class="form-group ">
  															<input type="password"  name="password{{ item.id }}" id="password{{ item.id }}" class="form-control" placeholder="Nueva contraseña" disabled >
  														</div>
  													</div>

  													<div class="col-md-12">
  														<div class="form-group ">
  															<input type="password"  name="password_confirm{{ item.id }}" id="password_confirm{{ item.id }}" class="form-control" placeholder="Confirmar contraseña" disabled >
  														</div>
  													</div>


                          <div class="modal-footer">
  													<input type="hidden" name="id" value="{{ item.id }}">
    												<input type="submit" value="Guardar" name="submit" id="submitButton" class="btn btn-info" title="Guardar">
    											</div>

                        </form>
    										</div>
    									</div>
    									</div>
    								</div>
    								</div>
    							<!-- Finaliza Modal Delete-->

    							<!-- Modal view -->
    							<div class="modal fade" id="view{{item.id}}" role="dialog">
    								<div class="modal-dialog">

    								<!-- Modal content-->
    								<div class="modal-content">
    									<div class="modal-header">
    									<button type="button" class="close" data-dismiss="modal">&times;</button>
    									<h4 class="modal-title">{{ item.first_name }} {{ item.last_name }} {{ item.a_materno }}</h4>
    									</div>
    									<div class="modal-body">
                        <p>Ultimo acceso: {{ item.last_login }}</p>
                        <p>Correo electronico: {{ item.email }}</p>
                        <p>Alta: {{ item.date_joined }}</p>
    									</div>
    									<div class="modal-footer">
    									<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
    									</div>
    								</div>

    								</div>
    								<!-- Finaliza contenido modal -->
    							</div>

    							</div>
    							<!-- Finaliza Modal view-->

    						</tr>
    					{% endfor %}
    				</tbody>
    			  </table>
    			<div align="center">
    				<ul class="pagination">
    					{%if ListProcedures.number > 1%}
    						<li class="waves-effect"><a href="?page={{ ListProcedures.previous_page_number }}">&laquo;</a></li>
    					{%endif%}
    					{% for log in page_range %}
    					{%if log == ListProcedures.number%}
    							<li class="active"><a href="?page={{log}}">{{log}}</a></li>
    						{%else%}
    							<li class="waves-effect"><a href="?page={{log}}">{{log}}</a></li>
    						{%endif%}

    					{%endfor%}
    					{%if ListProcedures.number < count %}
    						<li class="waves-effect"><a href="?page={{ ListProcedures.next_page_number }}">&raquo;</a></li>
    					{%endif%}
    				</ul>
    			</div>
    			<!-- Finaliza tabla clientes -->
    		</div>
    	</div>
    </section>
    <!-- Finaliza List Patients -->

		<!-- Agregar paciente -->
		<section id="department" class="department-area  section-big">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-title white mb-30">
							<h2>AGREGAR <span>usuario</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<form action="/user_add" method="GET"> {% csrf_token %}
						<div class="row">

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="text" name="apellidos" class="form-control" id="apellidos" placeholder="Apellidos">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="email" name="email" class="form-control" id="email" placeholder="Correo electronico">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="text" name="username" class="form-control" id="username" placeholder="Nombre de usuario">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group in_name">
									<input type="checkbox" class="form-check-input" id="add_medico" name="add_medico" checked>
									<label class="form-check-label" for="exampleCheck1" style="color: black;">Medico</label>

									<input type="checkbox" class="form-check-input" id="add_asistente" name="add_asistente" checked>
									<label class="form-check-label" for="exampleCheck1" style="color: black;">Asistente</label>

								</div>
							</div>

							<div class="col-md-4">
								<div class="actions">
									<input type="submit" value="Agregar" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- Service area ends -->
{% endblock %}
